{
  "extends": "standard",
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "semi": [2, "always"],
    "key-spacing": 0,
    "camelcase": 0,
    "brace-style": [2, "stroustrup"],
    // @todo - enforce this rule
    // see - http://eslint.org/docs/rules/prefer-promise-reject-errors
    "prefer-promise-reject-errors": 1
  },
  "globals": {
    "Log": false
  }
}
