.vjs-clsp {
  // Always hide the videojs video DOM element
  video:not(.clsp-video) {
    display: none !important;
  }

  .clsp-video {
    background-color: black;

    // This makes the use of the "hide" class unnecessary, and helps
    // minimize the things that the plugin is required to manage as
    // videos are clone and removed.
    &[src=''] {
      display: none !important;
    }
  }
}
